.list-item {
    padding: 0.5rem;
    margin-left: 1rem;
    white-space: normal;
    border-bottom: 1px solid hsla(214, 53%, 23%, 0.16);  
}

.list-item .item-title a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.list-item .item-details {
    color: #666;
}

.list-item .item-details .item-meta {
    display: inline-block;
    padding: 0 0.3rem 0 0;
}

.list-item .item-meta a {
    color: #666;
    text-transform: lowercase;    
    text-decoration: none;
}

.list-item .item-meta a:hover {
    text-decoration: underline;
}

.list-item .item-details .time-ago:after {
    content: "|";
    padding-left: 2px;        
}